@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: #000; /* set the color of visited links */
}

footer .icon{

}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    text-align: center;
    font-size: small;
    justify-content: center;
}

.container{
    height: 500px;
    margin-top: 10%;
    width: 100rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}


body{
    height: 100vh;

}


#fotojean{
    height: 400px;
    border-radius: 55%;
    
}
.foto{
    position: relative;
    width: auto;

}

main>div{
    margin-right: 20vh;
}
.titulo{
    font-size: 1.5rem;
    padding-left: 20px;
}

.nome{
    font-size: 3rem;
    font-weight: 600;
    padding-left: 30px;
    padding-top: 30px;
}
.descricao{
    font-size:1.5rem;
    font-weight: 400;
    padding-left: 20px;
    padding-top: 30px;
}

.imagens{
    display: flex;
    padding-left: 20px;
    padding-top: 30px;
    width: 810px;
    justify-content: space-between;
    top: 0px;
}